<h1><a href="home.erb">Back Home</a></h1>
<h2>Twitter play ground!</h2>
<form method="GET" action="/tweets_hashtag">
  <label>Twitter hashtag search:
    <input style="width:200px" type="text" name="q" placeholder="tag name here" /></label>
  <button style="width:200px">See Tweets with your tag!</button>
</form>

<% @tweets.each do |tweet| %>
  <p><%= tweet["text"] %></p>
<% end %>

